// Variables
$color_dark: #000;
$color_cornsilk: cornsilk;
$color_pink: #FAFF00;
$color_light: white;
$color_night: #262626;
$font-family_3: bodyGraph;
$font-family_4: headerFont;
$background-color_1: #000;
$background-color_2: white;
$background-color_3: cornsilk;
$background-color_4: #242423;
$background-color_5: #F02D3A;
$background-color_6: blue;
$break-small: 650px;
$break-medium: 994px;
$break-large: 995px;

$fonts-body: Helvetica;
$font-h1: Helvetica;
$font-h2 : Helvetica;
$font-h3: Helvetica;
$color-primary: #F02D3A;
$color-2: #232ED1;
$color-3:#FAFF00;
$color-4:black;
$color-5:white;
$header-font-size: 50px;
$text-transform: uppercase;

// Fonts
@font-face {
  font-family: headerFont;
  src: url(./fonts/new-waltograph/NewWaltDisneyFontRegular-BPen.ttf);
}

@font-face {
  font-family: smallerHeading;
  src: url(./fonts/mouse-handwriting/MouseHandwriting.ttf);
}

@font-face {
	font-family: myParagraphFont;
	src: url(./fonts/mickorama-25039/Mickorama-5Rez.ttf);
}

@font-face {
	font-family: mySecondFont;
	src: url(./fonts/wicked-mouse-font/WickedMouse-aGoK.ttf);
}

@font-face {
	font-family: bodyGraph;
	src: url(fonts/mouse-memoirs-font2/MouseMemoirs-Zg8l.ttf);
}






// Chika section


// RESOURCES-FOOTER Small Screen
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.wrapper{
  display:grid;
  justify-content: space-around;
  background-color:white;
  font-family: bodyGraph;
  color:red;
  font-size: 20px;
}
.design-selection h3 {
  text-align: center;
  padding-top: 5px;
  color: #fff;
  font-size: 37px;
  text-transform: uppercase;
  font-family: myParagraphFont;
  background: linear-gradient(to right,#095fab 10%, #25abe8 50%, red 60%);
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
.design-archives h3{
  text-align: center;
  padding-top: 5px;
  font-size: 37px;
  padding-left: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: myParagraphFont;
  background: linear-gradient(to right,#095fab 10%,  white 60%);
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
.zen-resources h3 {
  text-align: center;
  padding-top: 5px;
  font-size: 37px;
  padding-left: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: myParagraphFont;
  background: linear-gradient(to right, white 10%, salmon 30%);
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

// RESOURCES-FOOTER Medium Screen
@media only screen and (min-width: $break-small) {
  .wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    background-color: white;
    color:red;
    padding-left:20px;
    font-size: 23px;
  }
}

// RESOURCES-FOOTER Large Screen
@media only screen and (min-width: $break-medium) {
  .wrapper{
    display:flex;
    justify-content: space-around;
    background-color:white;
    font-family: bodyGraph;
    color:black;
    font-size: 28px; 
  }
  .design-selection h3{
    text-align: center;
    padding-top: 5px;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-family: myParagraphFont;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  .design-archives h3{
    text-align: center;
    padding-top: 5px;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-family: myParagraphFont;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  .zen-resources h3{
    text-align: center;
    padding-top: 5px;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-family: myParagraphFont;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
}






//comfort section

// HEADER-IntroContent Small Screen
body { 
  color:$color-5;
  background-image: url("https://w0.peakpx.com/wallpaper/892/746/HD-wallpaper-mickey-mouse-black-background-cartoon-character-mouse.jpg");
  background-repeat:repeat;
  background-position: center;
  max-width:100%;
  padding:2em;
  background-color: black;
}
header h1 {
  text-align: center;
  text-transform: $text-transform;
  font-size: $header-font-size;
  font-family: headerFont;
  background-image: url("images/header-background.jpg");
  transition: transform .2s;
  color:$color-4;
  width:60%;
  margin: auto;
  border-color: $color-primary;
  animation: zoom-in-zoom-out 3s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
header h1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
header h2 {
  text-align: center;
  text-transform: $text-transform;
  font-family: headerFont;
  background-image: url("images/header-background.jpg");
  color:$color-4;
  width:60%;
  margin: auto;
  animation: zoom-in-zoom-out 3s ease infinite;
}
section.intro a {
  text-decoration: none;
  color:$color-4;
}  
#zen-summary p {
  text-align: center;
  text-transform: $text-transform;
  font-family: headerFont;
  font-weight:bold;
  background-color: $color-primary;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  border-style: ridge;
  color:$color-5;
  margin-top:10px;
  margin-bottom: 10px;
}
#zen-preamble {
  background-color: white;
  background-position: center;
  color: $color-4;
  background-repeat:no-repeat;
  font-family: myParagraphFont;
  font-size: 20px;
  padding: 1em;
  background-position: center;
  p{
    max-width: 100%;
    margin: auto;
  }
  h3{
    text-align: center;
  }
}

// HEADER-IntroContent Medium Screen
@media screen and (min-width: $break-small){
  #zen-preamble {
    background-position: center;
    padding:2em;
    margin: auto;
    p {
      max-width: 50%;
    }
  }
}

// HEADER-IntroContent Large Screen
@media only screen and (min-width: $break-medium) {
  #zen-preamble {
    background-image: url("images/mickey-mouse-border.png");
    background-repeat:no-repeat;
    color:black;
    max-width: 55.8%;
    background-size:827px 490px; 
  }   
}







//ebube section


// MainContent Small Screen

// Animations
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
/* Specify the animation keyframesto be 
used to move the letters in the FOOTER */
@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

// Main Content
.supporting {
	display: grid;
  padding-top: 50px;
	font-family: myParagraphFont;
	max-width: 66 characters;
	font-size: 25px;
}
.explanation {
	grid-column: 1/3;
	grid-row: 1;
	text-align: center;
	padding: 20px;
	border: 9.5px dashed $color_dark;
	background-image: url("https://www.hakes.com/Image/MediumRes/1828/1/image.jpg");
	color: $color-primary;
	font-weight: 400;
	h3 {
		font-family: mySecondFont;
	}
	&:hover {
		background-image: none;
		background-color: $background-color_2;
		color: $color-2;
		cursor: pointer;
	}
}
.participation {
	grid-column: 1/3;
	grid-row: 2;
	padding: 20px;
	cursor: pointer;
	border: 10px solid $color_dark;
	color: $color_dark;
	font-size: 27px;
	font-weight: 300;
	border-image: none;
	background-image: url("https://i.etsystatic.com/24197159/c/434/345/42/92/il/180b1d/3171401524/il_340x270.3171401524_l7i3.jpg");
	h3 {
		text-align: center;
		text-transform: uppercase;
		background: -webkit-linear-gradient($background-color_3, $background-color_5, $background-color_6, $background-color_1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&:hover {
		background-color: $background-color_3;
		border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 10s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
		color: $color-2;
	}
}
.benefits {
	grid-column: 1/3;
	grid-row: 3;
	background-color: $background-color_4;
	color: $color_cornsilk;
	padding: 20px;
	border-radius: 10px;
	animation: none;
	font-size: 41px;
	cursor: pointer;
  text-align: center;
	border: 9.5px dashed $color_dark;
	h3 {
		text-align: center;
		font-family: mySecondFont;
		font-size: 35px;
	}
	&:hover {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Mickey_Mouse_head_and_ears.svg/2000px-Mickey_Mouse_head_and_ears.svg.png");
		color: $color_pink;
		font-weight: 800;
		animation: rotate 40s linear infinite;
	}
}
.requirements {
	grid-column: 1;
	grid-row: 4;
	text-align: center;
	padding: 20px;
	background-color: $background-color_1;
	color: $color_light;
	font-family: bodyGraph;
	h3 {
		font-family: $font-family_4;
		font-size: 3rem;
		background: -webkit-linear-gradient(#eee, $background-color_3);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&:hover {
		background-color: $background-color_5;
		color: $color_dark;
		cursor: pointer;
	}
}
footer {
	grid-column: 1;
	grid-row: 5;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	background: $background-color_1;
	a {
		text-align: center;
		color: $color_night;
		background: #fff;
		text-decoration: none;
		padding: 10px 20px;
		display: inline-block;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc;
		animation: animate 0.5s infinite;
		&:hover {
			background-color: $background-color_6;
			color: $color_cornsilk;
		}
		&:nth-child(1) {
			animation-delay: 0.1s;
		}
		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.3s;
		}
		&:nth-child(4) {
			animation-delay: 0.4s;
		}
		&:nth-child(5) {
			animation-delay: 0.5s;
		}
	}
}

// MainContent Medium Screen
@media only screen and (max-width: $break-medium) and (min-width: $break-small) {
	.explanation {
		grid-column: 1/span 3;
		grid-row: 1;
	}
	.participation {
		grid-column: 1/2;
		grid-row: 2;
	}
	.benefits {
		grid-column: 2/3;
		grid-row: 2;
	}
	.requirements {
		grid-column: 1/span 3;
		grid-row: 4;
	}
	footer {
		grid-column: 1/span 3;
		grid-row: 3;
	}
}

// MainContent Large screen
@media only screen and (min-width: $break-large) {
  .supporting {
    grid-gap: 50px;
  }
	.explanation {
		grid-column: 1/span 2;
		grid-row: 1;
	}
	.participation {
		grid-column: 1/2;
		grid-row: 2;
	}
	.benefits {
		grid-column: 2/3;
		grid-row: 2;
	}
	.requirements {
		grid-column: 3;
		grid-row: 1/span 2;
	}
	footer {
		grid-column: 1/span 3;
		grid-row: 3;
	}
}