$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #9EB3C2;
$primary: #F02D3A;
$accent1: #232ED1;
$accent2: #FAFF00;
$text-dark: #242423;
$text-light: white;
